<mat-toolbar color="primary">
  Aquarium
  <ng-container *ngIf="user$ | async as user; else loginButton">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <img class="profile-toolbar" width="30" height="30" [src]="user.photoURL ?? 'assets/images/blank-user.jpg'">
      {{user.displayName}}
      <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container>
  <ng-template #loginButton>
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
      Belépés
    </button>
  </ng-template>
</mat-toolbar>
<mat-menu #userMenu="matMenu">
  <button mat-menu-item [routerLink]="['/home']">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-menu-item [routerLink]="['/profile']">
    <mat-icon>account_circle</mat-icon>
    Profil
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Kijelentkezés
  </button>
</mat-menu>
<router-outlet></router-outlet>